<%- include("partials/header"); -%>


    <h1>Confirmed Cases:
        <%=confirmed%>
    </h1>
 <form class="" action="/post" method="post">
<input type="text" name="district" value="">
<button type="submit" name="button">find</button>
 </form>



    <h2>COVID-19 Tracker</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Statewise</th>
                    <th>Active</th>
                    <th>Confirmed</th>
                    <th>deaths</th>
                    <th>Recovered</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        OverAll</td>
                    <td>
                       <%=total_values.active%>
                    </td>
                    <td>
                        <%=total_values.confirmed%>
                    </td>
                    <td>
                        <%=total_values.deaths%>
                    </td>
                    <td>
                        <%=total_values.recovered%>
                    </td>
                    <td>
                        <%=total_values.lastupdatedtime%>
                    </td>
                </tr>

                <% Object.keys(state_wise).forEach(function(key){ %>
                    <tr>
                        <td>
                            <%=key%>
                        </td>
                        <td>
                            <%= state_wise[key].active %>
                        </td>
                        <td>
                            <%= state_wise[key].confirmed %>
                        </td>
                        <td>
                            <%= state_wise[key].deaths %>
                        </td>
                        <td>
                            <%= state_wise[key].recovered %>
                        </td>
                        <td>
                            <%= state_wise[key].lastupdatedtime %>
                        </td>

                    </tr>
                    <% }); %>
                        <tbody>
        </table>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  alert('hi')

</script>
    <%- include("partials/footer"); -%>
